#numb{
color:red;
font-size:35px;
}

#demo3{
  color:red;
  font-size:45px;

}

* p{
  color: rgb(99, 68, 211);
  font-size:2rem;
}

* input{
height: 30px;
font-size:25px;
}

* div{
display: flex;

}

#mylist {
  min-width: 50%;
  list-style-type: none;
  padding: 15px;
  margin-bottom:50px;
  margin-right: 25px;
  border: 3px solid #ddd;
}

#mylist li {
  cursor:pointer;
  border: 3px solid #ddd;
  margin-top: -3px; /* Prevent double borders */
  background-color: #dd3a3a;
  padding: 25px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

#mylist :hover {
  background-color: rgb(81, 230, 44);
}


